@charset "UTF-8";


body {
    background: url(../img/bg-mobile.jpg) no-repeat center top/cover;
    font-family: 'Inter', sans-serif;
    letter-spacing: -1px;
}

#container {
    width: 360px;
    border: 1px solid red;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.profile-img {
    width: 360px;
    height: 192px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    border: 1px dashed blue;
}

.profile-img a {
    text-decoration: none;
    color: white;
}

.profile-img a:hover {
    color: #e00ecb;
    transition: .5s;
}

.profile-img img {
    border-radius: 50%;
    border: 1px solid white;
}